html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
  font-weight: 400;
  text-align: left;
  margin: auto;
}
@media only screen and (max-width: 46em) {
  body {
    font-size: 0.8em;
  }
}

em {
  font-style: italic;
}

a {
  color: #4c6296;
  text-decoration: none;
  outline: 0;
}

a:hover {
  color: #173061;
  text-decoration: none;
}

a:visited {
  color: #6a4c96;
}

a:visited:hover {
  color: #463263;
}

a img {
  border: 0;
}

#cover_wrap {
  width: 720px;
  margin: auto;
  line-height: 1;
  border-bottom: 1px solid #e8ebf2;
}
@media only screen and (max-width: 46em) {
  #cover_wrap {
    width: 90%;
  }
}
#cover_wrap #masthead {
  margin: 0 auto;
  color: #57626b;
}
#cover_wrap #masthead header {
  display: block;
}
#cover_wrap #masthead .intro {
  line-height: 0.8;
  float: left;
}
#cover_wrap #masthead .intro h1 {
  line-height: 1;
}
#cover_wrap #masthead #home {
  font-size: 1.2em;
  font-weight: 700;
  color: #57626b;
}
#cover_wrap #masthead h1 {
  font-weight: 700;
  font-size: 1.1em;
}
#cover_wrap #masthead h2 {
  font-weight: 500;
  color: #999;
  font-size: 1em;
}
#cover_wrap #masthead a {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 500;
  color: #669ecc;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

#footer {
  width: 720px;
  margin: auto;
  border-top: 1px solid #e8ebf2;
  box-shadow: inset 0 1px 0 #fff;
  background: #fdfdfd;
  display: block;
}
@media only screen and (max-width: 46em) {
  #footer {
    width: 90%;
  }
}
#footer .center_mod {
  margin: 0 auto;
}

.nav {
  float: right;
  padding: 0;
}
.nav li {
  line-height: 1.3;
  display: inline-block;
}
.nav li a {
  margin-right: 16px;
  font-weight: 700;
  color: #9198ad;
  font-size: 12px;
}

img {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  vertical-align: baseline;
  height: auto !important;
}

figure {
  margin: 4em 0;
  display: block;
  text-align: center;
}

#site {
  margin: auto;
  text-align: left;
  line-height: 1.65;
  font-weight: 400;
  font-size: 110%;
}
#site section {
  width: 720px;
  margin: auto;
}
@media only screen and (max-width: 46em) {
  #site section {
    width: 90%;
  }
}
#site .post-listing {
  width: 720px;
  margin: auto;
  padding-left: 0px;
  display: block;
  list-style-image: none;
  list-style-position: outside;
  margin-bottom: 1em;
}
@media only screen and (max-width: 46em) {
  #site .post-listing {
    width: 90%;
  }
}
#site .post-listing li {
  list-style-type: none;
  margin: 2.5em 0;
}
#site .post-listing li:first-child {
  margin-top: 0;
}
#site .post-listing li h2 {
  color: #2C251D;
}
#site .post-listing .oneliner {
  color: #4A4235;
}
#site .post-listing .entry-title {
  margin: 15px auto;
}
#site .post-listing .entry-title h2 {
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 5px;
  color: #2c251d;
  line-height: 1.1;
}
#site #resume #interests p {
  font-weight: 700;
  margin-top: 4em;
}
#site #resume h2 {
  margin-top: 3em;
  text-align: center;
}
#site #resume h3 {
  font-weight: 700;
  font-size: 1.1em;
}
#site #resume .exp {
  padding-bottom: 1.2em;
  border-bottom: 1px solid #dedede;
}
#site #resume .exp:last-child {
  border-bottom: 1px solid white;
}
#site #entry {
  padding: 0;
  margin: 0 auto;
  font-weight: 400;
  color: #222;
}
#site #entry .entry-title {
  width: 720px;
  margin: 15px auto;
  font-size: 100%;
}
@media only screen and (max-width: 46em) {
  #site #entry .entry-title {
    width: 90%;
  }
}
#site #entry .entry-title h1 {
  color: #2c251d;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1.1;
}
#site #entry section {
  font-size: 100%;
}
#site #entry a {
  transition: color 0.25s ease-in;
  font-weight: 600;
  color: #4c6296;
}
#site #entry a:visited {
  color: #6a4c96;
}
#site #entry blockquote {
  border-left: 4px solid #eee;
  margin-left: 0;
  margin-right: 18px;
  margin-bottom: 18px;
  padding-left: 10px;
  color: #666;
}
#site #entry pre {
  font-size: 18px;
  font-family: Menlo, monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  background-color: #fff;
  border: 1px solid #d1d8e3;
  padding: .35em;
  overflow: auto;
  overflow-y: hidden;
}
#site #entry pre::-webkit-scrollbar {
  height: 12px;
  background-color: #fafafa;
  border-top: 1px solid #d1d8e3;
}
#site #entry .highlight code {
  font-size: 95%;
}
#site #entry p code, #site #entry li code {
  background-color: #eee;
  font-weight: 400;
  font-size: 90%;
  font-family: Menlo, monospace;
}
#site #entry .highlight {
  margin: 1.5em 0;
}
#site #entry p {
  margin: 0 0 1.5em;
}
#site #entry h2 {
  font-weight: 700;
  font-size: 1.6em;
  color: #5F516;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #bb8844 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #999999 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #bb8844 } /* Literal.String.Backtick */
.highlight .sc { color: #bb8844 } /* Literal.String.Char */
.highlight .sd { color: #bb8844 } /* Literal.String.Doc */
.highlight .s2 { color: #bb8844 } /* Literal.String.Double */
.highlight .se { color: #bb8844 } /* Literal.String.Escape */
.highlight .sh { color: #bb8844 } /* Literal.String.Heredoc */
.highlight .si { color: #bb8844 } /* Literal.String.Interpol */
.highlight .sx { color: #bb8844 } /* Literal.String.Other */
.highlight .sr { color: #808000 } /* Literal.String.Regex */
.highlight .s1 { color: #bb8844 } /* Literal.String.Single */
.highlight .ss { color: #bb8844 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
