* {
    font-family: 'verdana', 'helvetica', 'arial', 'sans-serif';
}

body {
    padding: 1.5em 0;
}

div#container {
    width: 900px;
    margin: 0 auto;
}

h1 {
    margin: 1.5em 0 1.5em 0;
}

h1 a {
    text-decoration: none;
}

blockquote {
  background-color: #eee;
  margin: 1em;
  padding: 0.3em 1em;
}

#entry, #wrapper {
  font-size: 13pt;
}

#entry img {
  margin-right: 1em;
  margin-bottom: 1em;
}

#entry img.right {
  float: right;
  margin-left: 1em;
}

#entry, #entries, #wrapper, #resume {
  width: 90%;
  text-align: justify;
  line-height: 1.5em;
}

#entries li {
  margin: 0.5em;
}

.footnotes {
  font-size: 88%;
  border-top: 1px solid grey;
}

ul.spaced li {
  margin-bottom: 1.5em;
}

#footer p {
  margin-top: 2em;
  text-align: justify;
}

#footer img {
  border: 0;
}

img.portrait {
  margin-top: -3em;
  margin-left: 2em;
}

a {
  text-decoration: none;
  color: #31674b;
}

a:hover {
  text-decoration: underline;
  color: #11472b;
}

a img { border: 0; }

a.older, a.newer {
  size: 80%;
}

pre {
  font-family: Menlo, monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  background: #eee;
  border: 1px solid #d1d8e3;
  padding: .35em;
  overflow: auto;
  overflow-y: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 1;
}

code {
  background: #eee;
  font-family: Menlo, monospace;
  font-size: 14px;
}

.timestamp {
  text-align: right;
  color: grey;
}

#resume h3 { margin-left: -1em; }
#resume dt { font-style: italic; }

@media only screen and (max-width: 960px) {
  body {
    font-size: 0.8em;
  }
  div#container {
    width: 90%;
  }
  #entry, #entries, #wrapper, #resume {
    width: 90%;
    margin-left: 0.2em;
    text-align: justify;
  }
  h1 {
    margin-left: 0em;
  }
}
