/* @font-face { */
/*   font-family: 'Cabin'; */
/*   font-style: normal; */
/*   font-weight: 400; */

/*   src: local('Cabin Regular'), local('Cabin-Regular'), url('/static/fonts/cabin.ttf') format('truetype'); */
/* } */

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
    font-family: 'Helvetica Neue'
    /* font-family: 'Cabin', "Book Antiqua", "URW Palladio L", sans-serif; */
}

body { 
    padding: 1.5em 0;
}

#site{
    font-family:ratio-1,ratio-2,"Helvetica Neue",Helvetica,Arial,Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,sans-serif;
    font-weight:400;
    line-height:1.65;
    min-height:500px;
    font-size:110%;
    text-align:left;
    width:100%;
    height:100%;
    padding:0;
    margin:0 auto
}

.entry-title h1 {
    margin-bottom:5px;
    color:#2c251d;
    font-size:2.2em;
    font-weight:700
}

h1 {
    margin: 1.5em 0 0 0;
}

h1 a {
    text-decoration: none;
}

#entry code,#entry pre,#entry code,#entry pre{
    font:13px Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif;
    -webkit-font-smoothing:subpixel-antialiased;
    font-smoothing:subpixel-antialiased
}

blockquote {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: italic;
    border-left: 3px solid #57ad68;
    padding-left: 20px;
    margin-left: -26px;
    padding-bottom: 3px;
}

#entry, #wrapper {
    font-size: 16px;
}

#entry img {
    margin: 1em;
    margin-left: 0;
}

img.right {
    float: right;
    margin-left: 1em;
}

#entry, #entries, #wrapper, #resume {
    text-align: justify;
    line-height: 1.6em;
}

#entries li {
    margin: 0.5em;
}

.footnotes {
    font-size: 88%;
    border-top: 1px solid grey;
}

ul.spaced li {
    margin-bottom: 1.5em;
}

footer {
    margin: 2em 0 7em 0;
    border-top: 1px grey solid;
}

footer p {
    text-align: center;
}

img.portrait {
    margin-top: -3em;
    margin-left: 2em;
}

a { 
    text-decoration: none;
    color: #005aa0;
}

a:hover { 
    text-decoration: underline;
    color: #11472b;
}

a img { border: 0; }

a.older, a.newer {
    size: 80%;
}

pre, pre span, tt, kbd {
  font-family: Inconsolata, Consolas, monospace;
}

kbd {
  background: #eee;
  padding: 0.2em;
}

.highlight {
  border: 1px grey solid;
  padding-left: 0.5em;
  font-family: Inconsolata, Consolas, monospace;
  border-radius: 4px 4px 4px 4px;
}

p code {
  font-family: Inconsolata, Consolas, monospace;
  background-color: #eee;
}

.timestamp {
    text-align: right;
    color: grey;
}

#resume h3 { margin-left: -1em; }
#resume dt { font-style: italic; }


