@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url('/static/fonts/cabin.ttf') format('truetype');
}

* {
    font-family: 'Cabin', "Book Antiqua", "URW Palladio L", sans-serif;
}

body { 
    padding: 1.5em 0;
}

div#container {
    width: 900px;
    margin: 0 auto;
}

h1 {
    margin: 1.5em 0 0 3em;
}

h1 a {
    text-decoration: none;
}

blockquote {
    background-color: #eee;
    margin: 1em;
    padding: 0.3em 1em;
}

#entry, #wrapper {
    font-size: 15pt;
}

#entry img {
    margin: 1em;
    margin-left: 0;
}

img.right {
    float: right;
    margin-left: 1em;
}

div#logo {
    margin: -0.2em 0 0 0;
    float: left;
}

#entry, #entries, #wrapper, #resume {
    width: 40em;
    margin-left: 5em;
    text-align: justify;
    line-height: 1.6em;
}

#entries li {
    margin: 0.5em;
}

.footnotes {
    font-size: 88%;
    border-top: 1px solid grey;
}

ul.spaced li {
    margin-bottom: 1.5em;
}

footer {
    margin: 2em 0 7em 0;
    border-top: 1px grey solid;
}

footer p {
    text-align: center;
}

img.portrait {
    margin-top: -3em;
    margin-left: 2em;
}

a { 
    text-decoration: none;
    color: #005aa0;
}

a:hover { 
    text-decoration: underline;
    color: #11472b;
}

a img { border: 0; }

a.older, a.newer {
    size: 80%;
}

pre, pre span, tt, kbd {
  font-family: Inconsolata, Consolas, monospace;
}

kbd {
  background: #eee;
  padding: 0.2em;
}

.highlight {
  border: 1px grey solid;
  padding-left: 0.5em;
  font-family: Inconsolata, Consolas, monospace;
  border-radius: 4px 4px 4px 4px;
}

p code {
  font-family: Inconsolata, Consolas, monospace;
  background-color: #eee;
}

.timestamp {
    text-align: right;
    color: grey;
}

#resume h3 { margin-left: -1em; }
#resume dt { font-style: italic; }


