<meta charset="utf-8"/>

<title>{{ .Title }}</title>

<meta name="author" content="Franck Cuny">
<meta name="copyright" content="© Copyright 2008 to Present">

<meta name="google-site-verification" content="zkHWYduyqP8GQs4IK3ltrU0pnVq4Eq8zpN91PUA34dI" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="twitter:account_id" content="14234966">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@franckcuny"/>
<meta name="twitter:site" content="@franckcuny"/>
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:domain" content="franckcuny.github.io">

<link href="//fonts.googleapis.com/css?family=Lora" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/style.css" type="text/css"/>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80350436-1', 'auto');
  ga('send', 'pageview');

</script>
