<meta charset="utf-8"/>

<title>{{ .Title }}</title>

<meta name="author" content="Franck Cuny">
<meta name="copyright" content="© Copyright 2008 to Present">

<meta name="google-site-verification" content="zkHWYduyqP8GQs4IK3ltrU0pnVq4Eq8zpN91PUA34dI" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="twitter:account_id" content="14234966">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@franckcuny"/>
<meta name="twitter:site" content="@franckcuny"/>
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:domain" content="franckcuny.github.io">

<link href="//fonts.googleapis.com/css?family=Lora" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/style.css" type="text/css"/>

