<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8"/>

  <title>{{ page.title }}</title>

  <meta name="description" content="{{ page.summary }}">
  <meta name="author" content="Franck Cuny">
  <meta name="copyright" content="© Copyright 2008 to Present">

  <meta name="google-site-verification" content="zkHWYduyqP8GQs4IK3ltrU0pnVq4Eq8zpN91PUA34dI" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="twitter:account_id" content="14234966">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@franckcuny"/>
  <meta name="twitter:site" content="@franckcuny"/>
  <meta name="twitter:title" content="{{ page.title }}"/>
  <meta name="twitter:domain" content="lumberjaph.net">
  <meta name="twitter:description" content="{{ page.summary }}">
  <meta name="twitter:url" content="{{ page.url }}">

  <link rel="stylesheet" href="/static/css/screen.css" type="text/css"/>

  <link rel="canonical" href="http://lumberjaph.net{{ page.url | replace:'index.html','' }}" />
</head>

<body style>

  {% include cover.html %}

  <div id="site"> {{ content }} </div>

  {% include footer.html %}

</body>



</html>
