<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8"/>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@franckcuny"/>
  <meta name="twitter:site" content="@franckcuny"/>
  <meta name="twitter:title" content="{{ page.title }}"/>
  <meta name="twitter:domain" content="lumberjaph.net">
  <meta name="twitter:description" content="{{ page.summary }}">

  <title>{{ page.title }} | lumberjaph.net</title>

  {% css_asset_tag global %}
  - /_assets/screen.scss
  {% endcss_asset_tag %}

  <link rel="stylesheet" href="/assets/pygments.css" type="text/css"/>

  <link rel="canonical" href="http://lumberjaph.net{{ page.url | replace:'index.html','' }}" />
</head>

<body style>

  {% include cover.html %}

  <div id="site"> {{ content }} </div>

  {% include footer.html %}

</body>



</html>
