---
layout: default
---
<div id="logo">
  <a href='/list.html'><img src='/static/imgs/logo.png' alt='' /></a>
</div>

<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

{% if page.previous.url %}
    <p id="bigleft"><a href="{{page.previous.url}}">&laquo;</a></p><br />
{% endif %}
{% if page.next.url %}
    <p id="bigright"><a href="{{page.next.url}}">&raquo;</a></p>
{% endif %}

<div id="entry">
  {{ content }}

  <p class="timestamp">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> |
    {% endif %}

    {{ page.date | date_to_string }}

    {% if page.next.url %}
      | <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </p>

</div>

{% include footer.html %}
